:root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(245, 246, 247);
    --code-bg: rgb(245, 246, 247);
    --border: rgb(238, 238, 238);
}

.pagination a {
    color: black;
    font-size: 13px;
    font-weight: bold; 
    line-height: 36px;
    background: rgb(235 235 235);
    border-radius: calc(36px/2);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220); 
    padding: 0 16px;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: rgb(235 235 235);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220);
    border-radius: 6px;
    transition: transform .1s;
}
