:root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(245, 246, 247);
    --code-bg: rgb(245, 246, 247);
    --code-block-bg: rgb(245, 246, 247);
    --border: rgb(222, 222, 222);
}

/* 主页的上一页和下一页按钮的样式 */
.pagination a {
    color: black;
    font-size: 13px;
    font-weight: bold; 
    line-height: 36px;
    background: rgb(235 235 235);
    border-radius: calc(36px/2);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220); 
    padding: 0 16px;
}

/* 分类和标签里面的按钮样式 */
.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: rgb(235 235 235);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220);
    border-radius: 6px;
    transition: transform .1s;
}

/* 归档里面的下划线颜色 */
.archive-month:not(:last-of-type) {
    border-bottom: 1px solid rgb(190 190 190);
}

.archive-year:not(:last-of-type) {
    border-bottom: 1px solid rgb(190 190 190);
}

/* 博客首页的标题样式 -> Hʌllo~ 👋 那里的样式*/
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0px;
}

/* 设置过长代码块可以滚动 */
table {
/*    max-height: 400px; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    overflow-y: auto; 
    word-break: keep-all;
}

/* 以下三个都是滚动条的样式 */
::-webkit-scrollbar-corner{
    background: transparent; 
}  

::-webkit-scrollbar {
    width: auto; 
    height: auto; 
}

.post-content :not(table) ::-webkit-scrollbar {
    border-radius: var(--radius);
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: var(--tertiary);
}

.post-content :not(table) ::-webkit-scrollbar-track-piece {
    border-radius: var(--radius);
    background: var(--code-bg);
}

/* copy code buttom 的样式 */
.copy-code {
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
    color: var(--secondary);
    background: var(--tertiary); 
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold; 
    user-select: none;
}

::-webkit-scrollbar-track-piece{
    background: var(--theme); 
}

.list::-webkit-scrollbar-track-piece{
    background: var(--code-bg); 
}

.post-content dl, .post-content ol, .post-content p, .post-content figure, .post-content ul {
    margin-top: var(--content-gap);
    margin-bottom: var(--content-gap);
}

.post-content table th, .post-content table:not(.highlighttable,.highlight table,.gist .highlight) td {
    padding: 10px;
    line-height: 1.5;
    border: 2px solid rgb(179, 182, 183);
}

.post-content .highlight table {
    max-height: 400px; 
}

.paginav .prev{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paginav .next{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Increase less for the home page.
This will eventually replace the following two rules. But for now
the browser support for :has is not widespread yet.
.main:has(.first-entry) {
max-width: calc(var(--main-width) + var(--gap) * 10);
}
 */


/* Increase the default width of the page. */
.main {
    max-width: calc(var(--main-width) + var(--gap) * 20);
    margin-left: auto;
    margin-right: auto;
}

/* 最顶头那一行的样式 */
.nav {
    max-width: calc(var(--main-width) + var(--gap) * 30);
}

.post-entry {
    max-width: calc(var(--main-width) + var(--gap) * 15);
    margin-left: auto;
    margin-right: auto;
}

.first-entry {
    max-width: calc(var(--main-width) + var(--gap) * 15);
    margin-left: auto;
    margin-right: auto;
}

/* Increase the width of images placed in home info. */
.home-info .entry-content img {
    width: 100%;
    max-width: fit-content;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.post-entry .entry-header {
    margin-left: 12px;
    margin-right: 12px;
}

.post-entry .entry-content {
    font-size: 16px; 
    margin-left: 12px;
    margin-right: 12px;
}

.post-entry .entry-footer {
    align-self: end;
    margin-top: 12px; 
    margin-left: 12px;
    margin-right: 12px;
}

/* Set a limit on the width of post images and align them center. */
.post-single .entry-cover {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-content img {
    margin: auto;
}

.post-content figcaption {
  text-align: center;
}

/* 修复 giscus */
.giscus{
    grid-column:1;
}
