:root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(245, 246, 247);
    --code-bg: rgb(245, 246, 247);
    --border: rgb(238, 238, 238);
}

/* 主页的上一页和下一页按钮的样式 */
.pagination a {
    color: black;
    font-size: 13px;
    font-weight: bold; 
    line-height: 36px;
    background: rgb(235 235 235);
    border-radius: calc(36px/2);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220); 
    padding: 0 16px;
}

/* 分类和标签里面的按钮样式 */
.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: rgb(235 235 235);
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(220 220 220);
    border-radius: 6px;
    transition: transform .1s;
}

/* 归档里面的下划线颜色 */
.archive-month:not(:last-of-type) {
    border-bottom: 1px solid rgb(190 190 190);
}

.archive-year:not(:last-of-type) {
    border-bottom: 1px solid rgb(190 190 190);
}

/* 博客首页的标题样式 -> Hʌllo~ 👋 那里的样式*/
.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0px;
    margin: var(--gap)0 calc(var(--gap) * 2);
}

/* 设置过长代码块可以滚动 */
table {
    max-height: 300px; 
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    overflow-y: scroll; 
    word-break: keep-all;
}

/* 以下三个都是滚动条的样式 */
::-webkit-scrollbar-corner{
    background: transparent; 
}  

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: var(--tertiary);
}

.post-content :not(table) ::-webkit-scrollbar-track-piece {
    background: var(--code-bg);
}

/* copy code buttom 的样式 */
.copy-code {
    display: none;
    position: absolute;
    top: 9px;
    right: 20px;
    color: var(--secondary);
    /*background: rgb(163 163 165 / 80%);*/
    background: var(--tertiary); 
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold; 
    user-select: none;
}

::-webkit-scrollbar-track-piece{
    background: var(--theme); 
}

.list::-webkit-scrollbar-track-piece{
    background: var(--code-bg); 
}
